@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
font-family: 'Varela Round', sans-serif;
text-align: center;
}

/* Styles for header */
#top {
margin-bottom: 0;
}

#playMusic {
font-size: 1.6rem;
color: green;
width:60px;
height:60px; 
display: block;
margin: auto;
float: left;
border-radius: 5px;
border: 1px solid darkgreen;
}

.rightButton {
font-size: 1.6rem;
color: green;
width:60px;
height:60px;  
display: block;
margin: auto;
float: right; 
border-radius: 5px;
border: 1px solid darkgreen;
}

.highScore {
font-size: 1.2rem;
padding: 0 5px;  
}

/* Styles for invitation to play */
.welcome {
position: relative;
}   
   
#welcomeAvocado {
width: 100%;
}

#go {
background-color: green;
position: absolute;
top: 50%;
left: 50%;
-ms-transform: translate(-50%, -50%);
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
color: white;
padding: 4px 8px;
border: none;
cursor: pointer;
border-radius: 5px;
}

#playNow {
background-color: green;
position: absolute;
margin: 0;
top: 50%;
left: 50%;
-ms-transform: translate(-50%, -50%);
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
color: white;
padding: 4px 8px;
border: none;
cursor: pointer;
border-radius: 5px;
}

/* Styles for game field */
#game {
position: relative;
background-color: yellow;
overflow: hidden;
}

.veg {
width: 100%;
animation-name: popUp;
animation-duration: 1.5s;
}

@keyframes popUp {
    0% { 
        transform: translateY(10px);   
    }
  50% { transform: translateY(20px);}
  100% { transform: translateY(30px);   }
}


.down {
visibility: hidden;
}

.smashed {
width: 100%;
}

.bowl {
width: 100%;
}

.veg, .bowl {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.empty {
height: 20px;
}

.scoreTimeDisplay {
font-size: 22px;
background-color: lightgreen;
}

#timer {
border: 3px solid #cccccc;
padding: 0 5px;
border-radius: 5px;
}

#score {
border: 3px solid #cccccc;
padding: 0 5px;
}

/* Styles for countdown before the game */
#secondsToStart {
width: 160px;
height: 120px;
background:rgba(15, 231, 15, 0.4);
font-size: 1.8rem;
text-align: center;
position: absolute;
top: 50%;
left: 50%;
-ms-transform: translate(-50%, -50%);
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
border: 1px solid darkgreen;
}

@media (min-width: 500px){ 
#secondsToStart {
width: 260px;
height: 160px;
background:rgba(15, 231, 15, 0.4);
font-size: 2rem;
}

#welcomeAvocado {
position: relative;
width: 500px;
height: auto;
}

#go {
padding: 8px 12px;
}

#playNow {
margin: 0;
padding: 12px 24px;
top: 50%;
left: 50%;
-ms-transform: translate(-50%, -50%);
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}

#game {
width: 470px;
height: auto;
}
}

@media only screen and (min-width: 1500px){
#welcomeAvocado {
width: 900px;
height: auto;
}

#go {
padding: 12px 24px;
}

#playNow {
padding: 12px 24px;
}

.highScore {
font-size: 1.2rem;
}

#game {
margin-top: 30px;
width: 900px;
height: 950px;
}

.veg {
width: 100%;
height: 200px;
}

.down {
visibility: hidden;
}

.smashed {
width: 100%;
height: 200px;
}

.bowl {
width: 100%;
height: 100px;
}

.empty {
height: 20px;
    }
}

/* Styles for rules page */
.rules {
text-align: center;
padding: 20px;
font-size: 26px;
}

#quacamole {
width: 80%;
margin: 20px auto;
}

@media (min-width: 990px){
#quacamole {
width: 600px;
}

.rules {
text-align: center;
padding: 20px;
line-height: 60px;
font-size: 32px;
    }
}

/* Styles for modals */
.modal {
width: 80vw;
height: auto;
background-color: white;
color: black;
opacity: 0.9 !important;
margin: 20px;
font-size: 1.2rem;
}

.modal-header{
background-color: darkgreen;
color: white;
}

/* Styles for recipe page */
.congratsHeader {
width: 90%;
margin: 20px auto;
}

.congratsHeader hr {
height: 2px;
color: darkgreen;
background-color: darkgreen;
}

.congratsHeader p {
font-size: 1.4rem;
}

.congrats {
text-align: left;
width: 80vw;
margin-top: 20px;
margin-left: auto;
margin-right: auto;
}

#avocadoWin {
width: 100%;
}

#playAgain button {
margin: 10px 5px 30px 5px;
}