@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.top {
    padding-bottom: 80px;
    display: block;
    margin: 0;
}

#playMusic {
font-size: 32px;
color: green;
width:60px;
height:60px; 
display: block;
margin: auto;
float: left;
border: none;
}

#info {
font-size: 32px;
color: green;
width:60px;
height:60px;  
display: block;
margin: auto;
float: right; 
border: none;
}

h1 {
    text-align: center;
}

body {
font-family: 'Varela Round', sans-serif;
text-align: center;
}

/* Styles for invitation to play */
.container {
position: relative;
width: 50%;
}

.container img {
width: 100%;
height: auto;
}

.container button {
background-color: green;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
color: white;
padding: 12px 24px;
border: none;
cursor: pointer;
border-radius: 5px;
}

/* Styles for game itself */
.game {
position: relative;
width: 50%;
height: auto;
background-color: yellow;
overflow: hidden;
width: 900px;
}

.box {
display: block;
height: 300px;
}

.avocado {
display: inline-block;
content: "";
width: 90%;
height: 200px;
}

.down {
visibility: hidden;
}

.smashed {
background: url(../images/smash.png) !important;
display: inline-block;
width: 90%;
height: 200px;
}

.bowl {
display: inline-block;
background-image: url(../images/bowl.png);
content: "";
width: 90%;
height: 100px;
}