@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
font-family: 'Varela Round', sans-serif;
text-align: center;
max-height: 100vh !important;
background-color: #e0e024;
}

#playMusic {
font-size: 32px;
color: green;
width:60px;
height:60px; 
display: block;
margin: auto;
float: left;
border: none;
}

#info {
font-size: 32px;
color: green;
width:60px;
height:60px;  
display: block;
margin: auto;
float: right; 
border: none;
}

/* Styles for invitation to play */
.welcome {
text-align: center;
}

#welcomeAvocado {
position: relative;
width: 80vw;
height: auto;
}

#go {
background-color: green;
position: absolute;
margin: 0;
top: 50%;
left: 50%;
-ms-transform: translate(-50%, -50%);
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
color: white;
padding: 4px 8px;
border: none;
cursor: pointer;
border-radius: 5px;
}

#playNow {
background-color: green;
position: absolute;
margin: 0;
top: 50%;
left: 50%;
-ms-transform: translate(-50%, -50%);
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
color: white;
padding: 4px 8px;
border: none;
cursor: pointer;
border-radius: 5px;
}

/* Styles for game itself */
#game {
position: relative;
background-color: yellow;
overflow: hidden;
}

.col-4 {
padding: 0;
}

.veg {
width: 100%;
}

.down {
visibility: hidden;
}

.smashed {
width: 100%;
}

.bowl {
width: 100%;
}

.empty {
height: 20px;
}

.scoreTimeDisplay {
font-size: 22px;
background-color: lightgreen;
}

.highScore {
font-size: 1.5rem;
padding: 0 5px;  
}

#timer {
width: 600px;
height: 120px;
border: 3px solid #cccccc;
padding: 0 5px;
}

#score {
width: 600px;
height: 120px;
border: 3px solid #cccccc;
padding: 0 5px;
}

#secondsToStart {
width: 160px;
height: 120px;
background:rgba(15, 231, 15, 0.4);
font-size: 24px;
text-align: center;
position: absolute;
top: 50%;
left: 50%;
-ms-transform: translate(-50%, -50%);
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
border: 1px solid darkgreen;
}

@media (min-width: 500px){ 
#secondsToStart {
width: 260px;
height: 160px;
background:rgba(15, 231, 15, 0.4);
font-size: 2em;
}

#welcomeAvocado {
position: relative;
width: 480px;
height: auto;
}

.welcome button {
padding: 8px 12px;
}

#playNow {
margin: 0;
padding: 12px 24px;
top: 50%;
left: 50%;
-ms-transform: translate(-50%, -50%);
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}

#game {
max-height: 100%; 
}
}

@media only screen and (min-width: 1400px){
#welcomeAvocado {
width: 900px;
}

#go {
padding: 12px 24px;
}

#playNow {
padding: 12px 24px;
}

.game {
margin-top: 30px;
width: 900px;
height: 950px;
}

.veg {
width: 100%;
height: 200px;
}

.down {
visibility: hidden;
}

.smashed {
width: 100%;
height: 200px;
}

.bowl {
width: 100%;
height: 100px;
}

.empty {
height: 20px;
    }
}

/* Styles for rules page */
.rules {
text-align: center;
padding: 20px;
font-size: 26px;
}

#quacamole {
width: 80%;
margin: auto;
}

@media (min-width: 990px){
#quacamole {
width: 600px;
}

.rules {
text-align: center;
padding: 20px;
line-height: 60px;
font-size: 32px;
    }
}

/* Styles for modals */
.modal {
width: 90vw;
height: 45vh;
background-color: white;
color: black;
opacity: 0.9 !important;
margin: 20px;
font-size: 1.2rem;
}

.modal-header{
background-color: darkgreen;
color: white;
}

/* Styles for recipe page */
.congrats {
width: 80vw;
margin-top: 20px;
margin-left: auto;
margin-right: auto;
}

#playAgain {
margin-top: 20px;
margin-bottom: 30px;
text-align: center;
}