@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

html, body {
    height: 100%;
}

body {
min-width: fit-content;
font-family: 'Varela Round', sans-serif;
text-align: center;
background-size: cover;
}

.top {
padding-bottom: 80px;
}

#playMusic {
font-size: 32px;
color: green;
width:60px;
height:60px; 
display: block;
margin: auto;
float: left;
border: none;
}

#info {
font-size: 32px;
color: green;
width:60px;
height:60px;  
display: block;
margin: auto;
float: right; 
border: none;
}

/* Styles for invitation to play */
.container-fluid {
position: relative;
}

#go {
background-color: green;
position: absolute;
top: 50%;
left: 50%;
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
margin: auto;
color: white;
padding: 12px 24px;
border: none;
cursor: pointer;
border-radius: 5px;
}

/* Styles for game itself */
.game {
position: relative;
background-color: yellow;
overflow: hidden;
}

.box {
display: block;
width: 30%;
margin-bottom: 10px;
}

.veg {
display: inline-block;
content: "";
width: 90%;
height: 66.6%;
}

.down {
visibility: hidden;
}

.smashed {
display: inline-block;
width: 90%;
height: 66.6%;
}

.bowl {
display: inline-block;
content: "";
width: 90%;
height: 33.3%;
}

@media only screen and (min-height: 960px){
.game {
height: 100vh;
margin-top: 30px;
position: relative;
height: auto;
background-color: yellow;
overflow: hidden;
width: 900px;
}

.box {
display: block;
height: 300px;
margin-bottom: 20px;
}

.veg {
display: inline-block;
content: "";
width: 90%;
height: 200px;
}

.down {
visibility: hidden;
}

.smashed {
display: inline-block;
width: 90%;
height: 200px;
}

.bowl {
display: inline-block;
content: "";
width: 90%;
height: 100px;
}
}

.scoreTimeDisplay {
font-size: 22px;
background-color: green;
}

#countdown {
font-size: 64px;
position: absolute;
top: 45%;
left: 50%;
}

#countdown .hide {
visibility: hidden;
}

#timer {
width: 600px;
height: 120px;
border: 3px solid #cccccc;
padding: 5px;
}

#score {
width: 600px;
height: 120px;
border: 3px solid #cccccc;
padding: 5px;
}

/* Styles for rules page */
.rules {
    text-align: center;
    padding: 20px;
    font-size: 26px;
}

#quacamole {
    height: 250px;
}

#goBack {
    color: darkgreen;
}

@media (min-width: 990px){
    #quacamole {
    height: 400px;
}

.rules {
    text-align: center;
    padding: 20px;
    line-height: 60px;
    font-size: 32px;
}
}