@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

html, body {
height: 100%;
}

body {
min-width: fit-content;
font-family: 'Varela Round', sans-serif;
text-align: center;
background-size: cover;
}

.top {
padding-bottom: 80px;
}

#playMusic {
font-size: 32px;
color: green;
width:60px;
height:60px; 
display: block;
margin: auto;
float: left;
border: none;
}

#info {
font-size: 32px;
color: green;
width:60px;
height:60px;  
display: block;
margin: auto;
float: right; 
border: none;
}

/* Styles for invitation to play */
#welcomeAvocado {
position: relative;
width: 95vw;
height: auto;
}

#go {
background-color: green;
position: absolute;
margin: 0;
top: 50%;
left: 50%;
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
color: white;
padding: 4px 8px;
border: none;
cursor: pointer;
border-radius: 5px;
}

/* Styles for game itself */
.game {
position: relative;
background-color: yellow;
overflow: hidden;
width: 95vw;
height: 65vh;
}

.box {
display: block;
width: 30%;
}

.veg {
display: inline-block;
content: "";
width: 90%;
height: 66.6%;
}

.down {
visibility: hidden;
}

.smashed {
display: inline-block;
width: 90%;
height: 66.6%;
}

.bowl {
display: inline-block;
content: "";
width: 100%;
height: 33.3%;
}

.empty {
height: 10px;
}

.scoreTimeDisplay {
font-size: 22px;
background-color: lightgreen;
}

#secondsToStart {
width: 160px;
height: 120px;
background:rgba(15, 231, 15, 0.4);
font-size: 24px;
position: absolute;
top: 50%;
left: 50%;
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
border: 1px solid darkgreen;
}

#timer {
width: 600px;
height: 120px;
border: 3px solid #cccccc;
padding: 5px;
}

#score {
width: 600px;
height: 120px;
border: 3px solid #cccccc;
padding: 5px;
}


@media (min-width: 500px){ 
#secondsToStart {
width: 260px;
height: 160px;
background:rgba(15, 231, 15, 0.4);
font-size: 2em;
}

#welcomeAvocado {
position: relative;
width: 480px;
height: auto;
}

#go {
margin: 0;
padding: 8px 12px;
top: 50%;
left: 50%;
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}

.game {
width: 480px;
height: auto; 
}
}

@media only screen and (min-width: 1400px){
#welcomeAvocado {
position: relative;
width: 900px;
height: auto;
}

#go {
margin: 0;
padding: 12px 24px;
top: 50%;
left: 50%;
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}

.game {
margin-top: 30px;
position: relative;
width: 900px;
height: auto;
background-color: yellow;
overflow: hidden;
}

.box {
display: block;
height: 300px;
}

.veg {
display: inline-block;
content: "";
width: 90%;
height: 200px;
}

.down {
visibility: hidden;
}

.smashed {
display: inline-block;
width: 90%;
height: 200px;
}

.bowl {
display: inline-block;
content: "";
width: 90%;
height: 100px;
}

.empty {
height: 20px;

}
}

/* Styles for rules page */
.rules {
    text-align: center;
    padding: 20px;
    font-size: 26px;
}

#quacamole {
    height: 250px;
}

#goBack {
    color: darkgreen;
}


@media (min-width: 990px){
    #quacamole {
    height: 400px;
}

.rules {
    text-align: center;
    padding: 20px;
    line-height: 60px;
    font-size: 32px;
}
}